doctype html
html
	head
		title SFU CMPT474
		block styles
		link(rel='icon', type='image/png', href='/images/icon.png')
	body(data-path=path)
		#main
			header
				.blerf
					.container
						ul.breadcrumbs
							li
								a(href="http://www.sfu.ca") SFU
							li
								a(href="http://www.sfu.ca/courses") Courses
							li
								a(href="http://www.sfu.ca/courses/cmpt") CMPT
							li
								a(href="http://www.sfu.ca/courses/cmpt/474") 474 - Cloud Systems Architecture
						
						ul

							if !authentication.authenticated
								li
									a.login(href="/login") Login
									
									section.login
										div.information
											h1 Login
											Why you should login goes here.
										ul.alternatives
											li
												a.sfu.alternative(href="/login/cas")
													span.label Sign in via CAS
											li
												a.facebook.alternative(href="/login/facebook")
													span.label Sign in via Facebook
							else
								li.session Welcome #{authentication.principal}
								li.logout
									a.logout(href="/logout") Logout
				

				.container(style="flex: auto;")
					a.test(href="/")
						img.icon(src="/images/cloud.png" alt="" style="-webkit-filter: brightness(1000%);")
						div.text
							span CMPT
							span.num 474
					ul.navigation
						//li
							//a.lectures(href="/lectures") Lectures
						li
							a.cloud(href="/assignments") Assignments
						
						

						
			#content
				block content
			
			footer
				block footer
				//ul.breadcrumbs
				//	li.home
				//		a lol
				//	li.sherp
				//		a derp
				//	li.herp
				//		a herp
				div.footer
					div.container
						div.entries
							div.links
								h1 Navigation
								ul
									li 
										a(href="/") Home
									

							div.prerequisites
								h1 Prerequisites
								div CMPT 371.

							div.overview
								h1 Overview
								div It's a pretty great course.

				div.copyright
					div.container
						span.slogan Engaging the World
						a(href="http://www.sfu.ca") www.sfu.ca
	block scripts