extends /layouts/default

block styles
	link(rel="stylesheet", type="text/css", href="/styles/global.css")

block scripts
	script(src="/scripts/require.js", type="text/javascript", data-main="/scripts/run")

mixin terminal()
	div.terminal

mixin container(container)
	section.container
		h2 Container #{container}
		
		section.stream
			h3 Standard Out
			+terminal(job.log.filter(function(entry) { return entry.type === 'stream' && entry.stream === 1 && entry.container === container }))
		
		section.stream
			h3 Standard Error
			+terminal(job.log.filter(function(entry) { return entry.type === 'stream' && entry.stream === 2 }))


mixin evaluation()
	div

block content
	.run(style="padding: 12px; background: #f0f0f0;")
		.container
			h1 Run #{job.id}

			h2 Log Output
			table
				tbody
					tr
						th Type
						th Data
				each entry in job.logs
					tr
						td #{entry.type}
						td
							each line in entry.data.toString('utf8').split('\n')
								div #{line}


