
extends /layouts/default

block styles
	link(rel="stylesheet", type="text/css", href="/styles/global.css")


block content
	div(style="padding: 12px 0; background: #f0f0f0;")
		.container
			h1 Evaluation
			p Your submission has been sent for evaluation.
			p You've sent in run: 
				a(href="/run/"+run.id) #{run.id}